@charset "utf-8";
/* CSS Document */
 body {
	    font-family: "Josefin Sans",sans-serif ;
		font-size:1.5em;
	line-height: 1.8;
	color: #333333;
	/* [disabled]font-size:1.5em; */
	text-align:left;
     background-color:beige;
	 
  }
  h2 {
    font-size: 2.5rem;
    text-transform: uppercase;
    color: #303030;
    font-weight: 600;
	font-family:"Josefin Sans",sans-serif;
	text-align:center ;
	clear:both;
  }
   
   .jumbotron h3 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #333;
    font-family:"Josefin Sans",sans-serif;
	text-align:center ;
  }
   h3 {
    font-size: 2rem;
    text-transform: uppercase;
    color: #333;
    font-family:"Josefin Sans",sans-serif;
	text-align:center ;
  }
.panel-heading h3 {
    color:#ffffff;
}
h4 {
   font-size:1.5em;
	color:#111439;
    line-height: 1.375em;
    
    font-weight: 400;
	text-align:center;
	/* margin-bottom: 30px; */
  }  
  .text_black{
	color:#000;
}
.text_bold{
	font-weight:bold !important;
}
.jumbotron h1{
	font-size:4.5em;
	font-weight:bold !important;
	text-transform:capitalize;
	font-family:"Josefin Sans ExtraLight", "Josefin Sans"  ;
	letter-spacing: 0.3em;
	position: relative;
	padding-top:25px;
	color:#000;
   
}

	.text-white{
		color:#fff;
	}
  .jumbotron {
   /* background:linear-gradient(to right, #333 , #000);	*/
  
    color: #000;
   padding:35px 20px !important;
    margin-bottom:10px;
	background-color:transparent;
  }
  .container-fluid {
    padding: 20px;
	margin:0;
  }
 .container-fluid p{
	 font-size:1.2em;
	 line-height:1.5;
 }
 .thumbnail{
	 width:400px;
	 height:300px;
 }
 
  .logo-small {
    color: #f4511e;
    font-size: 50px;
  }
  .logo {
   
	float:left;	
  }
  
  .item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
  }
  .item span {
    font-style: normal;
  }
  .panel {
    border: 1px solid #3a3a3a; 
    border-radius:0 !important;
    transition: box-shadow 0.5s;
	min-height:270px;
	margin:auto 10px;
  }
  .panel:hover {
    box-shadow: 5px 0px 40px rgba(0,0,0, .2);
  }
  .panel-footer .btn:hover {
    border: 1px solid #f4511e;
    background-color: #fff !important;
    color: #f4511e;
  }
   .container-fluid {
  padding:10px; 
  }
  .panel-heading {
    color: #fff !important;
  background-color:#3a3a3a !important;
    padding: 10px;
	margin-top:-5px;
    border-bottom: 1px solid transparent;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
  }
   .panel-heading h1
   {
	   padding:0;
	   margin:0;
	   line-height:1;
	   font-size:1.6em;
	   
   }
   

  .navbar {
    margin-bottom: 0;
    background:linear-gradient(to right,  #666, #000);
    z-index: 9999;
    border: 0;
    font-size: 12px !important;
    line-height: 1.43 !important;
    letter-spacing: 4px;
    border-radius: 0;
    font-family: Montserrat, sans-serif;
  }
  .navbar li a, .navbar .navbar-brand {
    color: #fff !important;
  }
  .navbar-nav li a:hover, .navbar-nav li.active a {
    color: #f4511e !important;
    background-color: #fff !important;
  }
  .navbar-default .navbar-toggle {
    border-color: transparent;
    color: #fff !important;
  }
  footer .glyphicon {
    font-size: 20px;
    margin-bottom: 20px;
    color: #f4511e;
  }
  .slideanim {visibility:hidden;}
  .slide {
    animation-name: slide;
    -webkit-animation-name: slide;
    animation-duration: 1s;
    -webkit-animation-duration: 1s;
    visibility: visible;
  }
  .datalist{
	    margin:auto ;
		
  }
  dl {
    overflow: hidden;
 padding: 10px;
  margin: 0;

  
}
dt {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
   padding: 0 10px;
  margin: 0;
  text-align:right;
  line-height:1.5;
  clear:left;
  color:#333;
 
}
.certification dt{
	width:40%;
}
.certification dd{
	width:60%;
}
dd {
  float: left;
  width: 50%;
  /* adjust the width; make sure the total of both is 100% */
  
   padding: 0;
  margin: 0;
   line-height:1.5;
   text-align:left;
}
	 .jumbotron p.header{
		 font-size:1.3em;
		 color:#333;
		 line-height:1.5;
		 font-family:"Josefin Sans Medium";	
		 padding:10px; 
		
		  }
		  
		  .cts{
			  font-weight:bold;
		  }
		
		 /* .dl-horizontal dt{
			  color:#F60;
			 line-height:2; 
			  width:40%;		
		  }
		   .dl-horizontal dd{
			  color:000;
			 width:100%;
			 margin-left: 20px;
			 line-height:2;
		  }
		  .dl-horizontal{
		color:#000;
		margin:auto;	
		width:65%;
	background-color:#E4E4E4;
		padding:10px;*/
		
	
.thumbnail {
    padding: 0 0 15px 0;
    border: none;
    border-radius: 0;
  }
 
  .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
  }
  .carousel-indicators li {
    border-color: #f4511e;
  }
  .carousel-indicators li.active {
    background-color: #f4511e;
  }
  @keyframes slide {
    0% {
      opacity: 0;
      transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      transform: translateY(0%);
    }
  }
  @-webkit-keyframes slide {
    0% {
      opacity: 0;
      -webkit-transform: translateY(70%);
    } 
    100% {
      opacity: 1;
      -webkit-transform: translateY(0%);
    }
  }
  .flex-box2 img {
   margin:10px;
		width:40%;
	  height: 40%;
		 border:solid #fff 3px;
		
	}
  @media screen and (max-width: 768px) {
    .col-sm-4 {
      text-align: center;
      margin: 25px 0;
    }
    .btn-lg {
      width: 100%;
      margin-bottom: 35px;
    }

 
	 body{
		   background-color:beige;
	  }
  }
 
  @media all and (max-width: 600px) {
	  body{
		 background-color:beige;
	  }
	  
	  .jumbotron h1{
	font-size: 3.2em !important;
	font-weight:bold !important;
	text-transform:capitalize;
	font-family:"Josefin Sans ExtraLight", "Josefin Sans"  ;
	letter-spacing: 0.2em;
	position: relative;
	
   
}
	  .logo img{
	max-width:100%;
	text-align:center;

}
.jumbotron {
   /* background:linear-gradient(to right, #333 , #000);	
   background:url( background:url(../images/banner1.jpg)  repeat-x;*/
}
.jumbotron p{
	font-size:1.2em !important;
		 color:#333;
		}



.well, .col-md-12{
	padding:0;

}


.paintings h1{
	font-size:2em;
	box-shadow:#000 1px solid;	
}

	 .panel {
		 margin:5px;
	 }
	 .panel-body{
		 padding:5px;
		
	 }
	  
	   .flex-box img {
   margin:10px;
		 
		  
}
	  
  .flex-box2 img {
   margin:10px;
		width:100%;
	  height: 100%;
		 border:solid #fff 3px;
		
	}
}


.row{
	margin:0;
}
  .carousel-control {
  padding:0 ;
  width:5%;
}
a.carousel-control{
	font-size:5em;
	opacity:100;
}
.well{
	min-height:350px;
	background-color:#000;
}

.col-sm-12 h1{
	color:#f4511e;
	font-size:3em;
	box-shadow:#000 1px solid;
	
}
 .panel{
	 background-color:transparent;
	 border:solid 1px 3a3a3a;
		
	 }
	 dd a{
		 color:#600;
		 text-decoration:underline;
	 }
	 figure{
		 float:left;
		 padding:10px;
		 				
	 }
	 .flex-box{
		 display: flex;
	  flex-wrap: wrap;
	  justify-content:space-around;
		 background-color:#fff;
		 border:solid #000 2px;

	 }
	 .flex-box img {
   margin:10px;
		
	}
.flex-box2{
		 display: flex;
	  flex-wrap: wrap;
	  justify-content:space-around;
		
		 border:solid #000 2px;
	 background-color:#110F0F;

	 }
	 
header h1{
	font-size: 1.5em;
	margin-top: 30px;
}
.roles ul{
	background-color:#666;
	color:#fff;
	padding: 20px;
	border:solid #000 1px;
	border-radius:5px;
	margin: 10px;
}
.roles ul li{
	list-style-type: none;
}
.headerstyle{
	font-size:1.5em;
	color:#111439;
    padding-top: 10px;
}
.skip{font-size:0;}
